<app-header pageTitle="Profile" backRoute="../activity"></app-header>
<ion-content>
  <main id="content" *ngIf="user">
    <ion-avatar>
      <img src="https://api.dicebear.com/6.x/initials/svg?seed={{user.uid}}" />
    </ion-avatar>
    <div class="item">
      <p>Name</p>
      <p color="primary">{{user.displayName}}</p>
    </div>
    <div class="item">
      <p>Username</p>
      <p color="primary">{{user.uid}}</p>
    </div>
    <div class="item">
      <p>Email</p>
      <p color="primary">{{user.email}}</p>
    </div>
    <div class="item">
      <p>Phone</p>
      <p color="primary">{{user.phoneNumber}}</p>
    </div>
    <div class="item">
      <p>Created</p>
      <p color="primary">{{user.metadata.creationTime | date}}</p>
    </div>
    <div class="item">
      <p>Last Login</p>
      <p color="primary">{{user.metadata.lastSignInTime | date}}</p>
    </div>
    <div class="item">
      <p>Verified</p>
      <p color="primary">{{user.emailVerified ? "Verified" : 'Not-Verified'}}</p>
    </div>
  </main>
</ion-content>