<app-header pageTitle="Profile" [allowBack]="true"></app-header>
<ion-content>
  <main id="content" *ngIf="user">
    <ion-avatar>
      <img src="https://api.dicebear.com/6.x/initials/svg?seed={{user.uid}}" />
    </ion-avatar>
    <div class="item">
      <p>Username</p>
      <p color="primary">{{user.uid}}</p>
    </div>
    <div class="item">
      <p>Email</p>
      <p color="primary">{{user.email}}</p>
    </div>
    <div class="item">
      <p>Phone</p>
      <p color="primary">{{user.phoneNumber}}</p>
    </div>
    <div class="item">
      <p>Created</p>
      <p color="primary">{{user.metadata.creationTime | date}}</p>
    </div>
    <div class="item">
      <p>Last Login</p>
      <p color="primary">{{user.metadata.lastSignInTime | date}}</p>
    </div>
    <div class="item">
      <p>Verified</p>
      <p color="primary">{{user.emailVerified ? "Verified" : 'Not-Verified'}}</p>
    </div>
    <div class="item">
      <p>Delete bill after finalize when cancelled</p>
      <p color="primary"><ion-toggle [(ngModel)]="settings.deleteCancelledBill" #deleteCancelledBill (ngModelChange)="updateSettings({ deleteCancelledBill: deleteCancelledBill.checked })"></ion-toggle></p>
    </div>
    <div class="settingItem item" id="open-logout-sheet-profile">
      <ion-icon slot="start" name="log-out"></ion-icon>
      <p>Logout</p>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  <ion-action-sheet
    mode="ios"
    (didDismiss)="logout($event)"
    trigger="open-logout-sheet-profile"
    header="Actions"
    [buttons]="logOutActionsSheetButtons"
  ></ion-action-sheet>
  </main>
</ion-content>