ion-avatar{
	margin:0 auto;
	display: block;
}
main{
	display: flex;
	flex-direction: column;
	gap:15px;
	padding: 0px 20px;
	.item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px;
		border:1px solid var(--Vrajera-primary);
		border-radius: 7px;
		background: white;
		gap:10px;
		p{
			margin:0px;
		}
		p:nth-child(1){
			font-weight: 600;
			text-align: start;
			color: var(--Vrajera-primary-tint);
		}
		p:nth-child(2){
			font-weight: 400;
			text-align: end;
		}
	}
}
.settingItem{
	border-radius: 12px;
	border: 2px solid #C2C2C2;
	background: #FFF9F8;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	align-items: center;
	padding: 10px 20px;
	color:var(--Vrajera-primary);
	p{
		margin:0;
	}
	ion-icon{
		font-size: 25px;
	}
}