<app-header
  [showOutletSelector]="false"
  pageTitle="Biller"
  [allowBack]="true"
></app-header>
<ion-content [fullscreen]="true">
  <main id="content">
    <form [formGroup]="settingsForm" (ngSubmit)="submit()" *ngIf="editMode">
      <input placeholder="Outlet Name" formControlName="hotelName" type="text">
      <input placeholder="Phone" formControlName="phone" type="text">
      <textarea placeholder="Address" formControlName="address" type="text"></textarea>
      <input placeholder="GST Number" formControlName="gst" type="text">
      <input placeholder="FSSAI Number" formControlName="fssai" type="text">
      <div class="actions">
        <button type="button" (click)="this.editMode = false" routerLink="../">Cancel</button>
        <button type="submit">Submit</button>
      </div>
    </form>
    <form [formGroup]="settingsForm" (ngSubmit)="editMode=true" *ngIf="!editMode">
      <!-- <input [disabled]="true" placeholder="Hotel Name" formControlName="hotelName" type="text">
      <input [disabled]="true" placeholder="Phone" formControlName="phone" type="text">
      <textarea [disabled]="true" placeholder="Address" formControlName="address" type="text"></textarea>
      <input [disabled]="true" placeholder="GST Number" formControlName="gst" type="text">
      <input [disabled]="true" placeholder="FSSAI Number" formControlName="fssai" type="text"> -->
      <div class="label">
        <p>Outlet Name</p>
        <p>{{settingsForm.value.hotelName}}</p>
      </div>
      <div class="label">
        <p>Phone</p>
        <p>{{settingsForm.value.phone}}</p>
      </div>
      <div class="label address">
        <p>Address</p>
        <p>{{settingsForm.value.address}}</p>
      </div>
      <div class="label">
        <p>GST Number</p>
        <p>{{settingsForm.value.gst}}</p>
      </div>
      <div class="label">
        <p>FSSAI Number</p>
        <p>{{settingsForm.value.fssai}}</p>
      </div>
      <div class="actions">
        <button type="submit">Edit Business Details</button>
      </div>
      <div class="spacer"></div>
    </form>
  </main>
</ion-content>
