<app-header [allowBack]="true" [showOutletSelector]="false" pageTitle="Payment"></app-header>
<ion-content>
  <main id="content">
    <div class="heading">
      <h3>Payment Methods</h3>
      <button routerLink="edit/new">
        Add
        <ion-icon slot="start" name="add"></ion-icon>
      </button>
    </div>
    <ion-item-group>
      <ion-breadcrumbs>
        <ion-breadcrumb routerDirection="back" routerLink="../../settings">Settings</ion-breadcrumb>
        <ion-breadcrumb routerDirection="back" routerLink=".">Payment Methods</ion-breadcrumb>
      </ion-breadcrumbs>
      <div class="paymentMethodContainer">
        <div class="paymentMethod"
          detail
          button
          *ngFor="let method of paymentMethods"
          routerLink="edit/{{method.id}}"
        >
          <ion-label>{{method.name}}</ion-label>
          <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>Phone: {{method.detail ? 'Required' : 'Not-Required'}}</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item-group>
    <div class="spacer"></div>
  </main>
</ion-content>
