<!-- <h1>Customers</h1> -->
<div class="summaryCard fadeUp">
	<div class="card">
		<strong>{{stats.totalCustomers}}</strong>
		<p>Total Customers</p>
	</div>
	<div class="card">
		<strong>{{stats.averageBills | currency:'INR'}}</strong>
		<p>Average Bill Cost</p>
	</div>
	<div class="card">
		<strong>{{stats.newCustomers}}</strong>
		<p>New Customers</p>
	</div>
	<div class="card">
		<strong>{{stats.existingCustomers}}</strong>
		<p>Existing Customers</p>
	</div>
</div>

<div class="search gm fadeUp">
	<input type="search" (input)="searchSubject.next(searchBar.value)" #searchBar placeholder="Search Customer">
	<i class="ri-search-2-line"></i>
</div>
<button class="refresh" (click)="refresh()">
	Last checked at: {{lastCheckedAt | date:'short'}} <ion-icon name="refresh"></ion-icon>
</button>
<h2>Recently Added</h2>
<div class="tableContainer fadeUp">
	<table class="gm" [cellSpacing]="0" *ngIf="recentlyAddedCustomers.length > 0">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Loyalty</th>
				<th>GST</th>
				<th>Average Bill Value</th>
				<th>Last Bill Amount</th>
				<th>Last Bill Date</th>
				<th>Total Bills</th>
				<th>Total Sales</th>
				<th>Last Updated</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let customer of filteredRecentlyAddedCustomers.length ? filteredRecentlyAddedCustomers : recentlyAddedCustomers">
				<td>{{customer.name || 'N/A'}}</td>
				<td>{{customer.address || 'N/A'}}</td>
				<td>{{customer.phone || 'N/A'}}</td>
				<td>{{customer.loyaltyPoints || 'N/A'}}</td>
				<td>{{customer.gst || 'N/A'}}</td>
				<td>{{customer.averageBillValue || 'N/A'}}</td>
				<td>{{customer.lastBillAmount | currency:'INR'}}</td>
				<td>{{(customer.lastBillDate?.toDate() | date)  || 'N/A'}}</td>
				<td>{{customer.totalBills || 'N/A'}}</td>
				<td>{{customer.totalSales || 'N/A'}}</td>
				<td>{{(customer.updated?.toDate() | date) || 'N/A'}}</td>
			</tr>
			<tr>
				<td
					[colSpan]="11"
					*ngIf="filteredRecentlyAddedCustomers.length ? filteredRecentlyAddedCustomers.length == 0 : recentlyAddedCustomers.length == 0"
				>
					No Customers Found
					<img src="assets/notFound.jpg" class="noData" alt="">
				</td>
			</tr>
		</tbody>
	</table>
	<div class="notFound" *ngIf="recentlyAddedCustomers.length==0">
		<p>No New Customers Found</p>
		<img
          src="assets/notFound.jpg"
          class="noData"
          alt=""
        />
	</div>
</div>

<h2>All Customers</h2>
<div class="tableContainer fadeUp">
	<table class="gm" [cellSpacing]="0" *ngIf="customers.length>0">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Loyalty</th>
				<th>GST</th>
				<th>Average Bill Value</th>
				<th>Last Bill Amount</th>
				<th>Last Bill Date</th>
				<th>Total Bills</th>
				<th>Total Sales</th>
				<th>Last Updated</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let customer of filteredCustomers.length ?  filteredCustomers : customers">
				<td>{{customer.name || 'N/A'}}</td>
				<td>{{customer.address || 'N/A'}}</td>
				<td>{{customer.phone || 'N/A'}}</td>
				<td>{{customer.loyaltyPoints || 'N/A'}}</td>
				<td>{{customer.gst || 'N/A'}}</td>
				<td>{{customer.averageBillValue | currency:'INR' || 'N/A'}}</td>
				<td>{{customer.lastBillAmount | currency:'INR' || 'N/A'}}</td>
				<td>{{(customer.lastBillDate?.toDate() | date) || 'N/A'}}</td>
				<td>{{customer.totalBills || 'N/A'}}</td>
				<td>{{customer.totalSales | currency:'INR' || 'N/A'}}</td>
				<td>{{(customer.updated?.toDate() | date) || 'N/A'}}</td>
			</tr>
			<tr>
				<td
					[colSpan]="11"
					*ngIf="filteredCustomers.length ? filteredCustomers.length == 0 : customers.length == 0"
				>
					No Customers Found
					<img src="assets/notFound.jpg" class="noData" alt="">
				</td>
			</tr>
		</tbody>
	</table>
	<div class="notFound" *ngIf="customers.length==0">
		<p>No Customers Found</p>
		<img
          src="assets/notFound.jpg"
          class="noData"
          alt=""
        />
	</div>
</div>
<div class="bottomSpacer"></div>