// ion-content{
// 	--background: transparent;
// 	background-image: url("/assets/background.svg");
// 	background-repeat: repeat;
// 	background-size: 300px;
// 	background-position: center;
// 	background-attachment: fixed;
// }
.heading{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	margin-bottom: 20px;
	h3{
		margin:0;
		text-align: start;
	}
	button{
		background: var(--Vrajera-primary);
		display: flex;
		align-items: center;
		justify-content: center;
		color:white;
		gap:10px;
		padding: 5px 20px;
		border-radius: 35px;
		font-weight: 500;
		font-size: var(--Vrajera-font-large);
		ion-icon{
			font-size: 25px;
			color:white;
		}
	}
}
.usersContainer{
	display: flex;
	flex-direction: column;
	gap:20px;
	padding: 0px 20px;
	.userItem{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap:20px;
		border: 2px solid var(--Vrajera-primary);
		box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
		border-radius: 30px;
		background: white;
		padding: 5px 15px;
		padding-left: 5px;
		span{
			display: flex;
			align-items: center;
			gap:20px;
			img{
				width: 40px;
				height: 40px;
				border-radius: 20px;
			}
			p{
				margin:0px;
				font-size: var(--Vrajera-font-large);
			}
		}
		ion-icon{
			font-size: 20px;
			color:var(--Vrajera-primary);
		}
	}
}