<ion-router-outlet></ion-router-outlet>
<!-- <div class="bottomSticky">
  <button routerLink="activity">Activity</button>
  <button routerLink="reports">Reports</button>
  <button routerLink="settings">Settings</button>
</div> -->
<div class="tabs">
  <div class="activeBar">
    <span
      [style]="'width: calc(100% / '+tabs.length+' - '+ paddingOffset +'px); left: calc(100% / '+tabs.length+' * '+currentTabIndex+' +  ' + (paddingOffset / 2)+'px);'"
    ></span>
  </div>
  <div class="tabBar">
    <ng-container *ngFor="let tab of tabs; let i = index;">
      <button
        [ngClass]="{active:currentTabIndex == i}"
        (click)="switchTabByIndex(i)"
        class="tab"
      >
        <i [class]="tab.icon"></i>
        <p *ngIf="currentTabIndex != i">{{tab.title}}</p>
      </button>
    </ng-container>
  </div>
</div>
