.search {
  display: flex;
  padding: 0px;
  padding-right: 10px;
  align-items: center;
  background: white;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #ff5e35;
  margin: 0px 20px;
  input {
    background: transparent;
    border: none;
    width: 100%;
    padding: 10px 0px 10px 20px;
    &:focus{
      outline: none;
    }
  }
  i {
    color: #aaa;
    font-size: 25px;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  .reportCard {
    border-radius: 16px;
    border: 1px solid #D8D8D8;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
    width: 100%;
    .detail{
      display: flex;
      gap:20px;
      width: 100%;
      .icon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--Vrajera-primary);
        i{
          color:white;
          font-size: 30px;
        }
      }
    }
    span{
      display: flex;
      flex-direction: column;
    }
    button{
      padding: 10px 20px;
      border-radius: 12px;
      text-align: center;
      color:white;
      background: var(--Vrajera-primary);
    }
  }
}
