<!-- <ion-header [translucent]="true">

  <ion-img src="assets/Vrajera.png" slot="start"></ion-img>
  <ion-toolbar>
    <ion-title>Activity</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-header pageTitle="Vrajera"></app-header>
  <main id="content">
    <app-tabs (tabSwitched)="switchTab($event,tabSwitcher)" [tabs]="['sales','tables','customer']" #tab></app-tabs>
    <!-- <router-outlet></router-outlet> -->
    <mat-tab-group class="noHeader padded" (animationDone)="refetchTab(tabSwitcher)" #tabSwitcher>
      <mat-tab label="Sales"><app-sales></app-sales></mat-tab>
      <mat-tab label="Table"><app-table></app-table></mat-tab>
      <mat-tab label="Customer"><app-customer></app-customer></mat-tab>
    </mat-tab-group>
  </main>
</ion-content>