<app-header [allowBack]="true" [showOutletSelector]="false" pageTitle="Biller"></app-header>
<ion-content [fullscreen]="true">
  <ion-breadcrumbs>
    <ion-breadcrumb routerDirection="back" routerLink="../../settings">Settings</ion-breadcrumb>
    <ion-breadcrumb routerDirection="back" routerLink=".">Biller</ion-breadcrumb>
  </ion-breadcrumbs>
  <ion-list *ngIf="settings">
    <!-- <ion-item>
      <ion-label>Total Time to mark a table as late</ion-label>
      <ion-input [(ngModel)]="settings.tableTimeOutTime" (change)="isValidNumber(tableTimeout.value) ? updateSettings({ tableTimeOutTime: tableTimeout.value }) : tableTimeout.value = 0;" type="number" placeholder="Time in minutes" #tableTimeout></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>This text will be added as a note on printed bill</ion-label>
      <ion-input [(ngModel)]="settings.customBillNote" (change)="updateSettings({ customBillNote:  endBillNote.value})" type="text" placeholder="Thank you for visiting us" #endBillNote></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Prefix will be added to printed bill no</ion-label>
      <ion-input [(ngModel)]="settings.billNoSuffix" type="text" placeholder="2023-" (change)="updateSettings({ billNoSuffix: billNoSuffix.value })" #billNoSuffix></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label>Enable re-print kot option in manage kot panel</ion-label>
      <ion-toggle [(ngModel)]="settings.kotRePrintable" (ngModelChange)="updateSettings({kotRePrintable:kotRePrintable.checked})" #kotRePrintable></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Allow kot edit</ion-label>
      <ion-toggle [(ngModel)]="settings.kotEditable" #kotEditable (ngModelChange)="updateSettings({ kotEditable: kotEditable.checked })"></ion-toggle>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Total time till you can edit KOT</ion-label>
      <ion-input [(ngModel)]="settings.editKotTime" (change)="isValidNumber(editKotTime.value) ? this.updateSettings({ editKotTime: editKotTime.value }) : editKotTime.value = 0;" #editKotTime type="number" placeholder="Time in seconds"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label>Directly print a bill when finalized</ion-label>
      <ion-toggle [(ngModel)]="settings.printBillAfterFinalize" (ngModelChange)="updateSettings({printBillAfterFinalize: printBillAfterFinalize.checked})" #printBillAfterFinalize></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Directly print a bill when settled</ion-label>
      <ion-toggle [(ngModel)]="settings.printBillAfterSettle" (ngModelChange)="updateSettings({printBillAfterSettle: printBillAfterSettle.checked})" #printBillAfterSettle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Allow to add multiple discounts to a bill</ion-label>
      <ion-toggle [(ngModel)]="settings.multipleDiscount" #multipleDiscount (ngModelChange)="updateSettings({ multipleDiscount: multipleDiscount.checked })"></ion-toggle>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Delete bill instead of cancel when finalized.</ion-label>
      <ion-toggle [(ngModel)]="settings.deleteCancelledBill" #deleteCancelledBill (ngModelChange)="updateSettings({ deleteCancelledBill: deleteCancelledBill.checked })"></ion-toggle>
    </ion-item> -->
    <div class="spacer"></div>
  </ion-list>
  <ion-spinner name="crescent" *ngIf="!settings"></ion-spinner>
</ion-content>
