<app-header [allowBack]="true" [showOutletSelector]="false" pageTitle="Biller"></app-header>
<ion-content [fullscreen]="true">
  <ion-breadcrumbs>
    <ion-breadcrumb routerDirection="back" routerLink="../../settings">Settings</ion-breadcrumb>
    <ion-breadcrumb routerDirection="back" routerLink=".">Biller</ion-breadcrumb>
  </ion-breadcrumbs>
  <ion-list *ngIf="settings">
    <ion-item>
      <ion-label>Total Time to mark a table as late</ion-label>
      <input [(ngModel)]="settings.tableTimeOutTime" (change)="isValidNumber(tableTimeout.valueAsNumber) ? updateSettings({ tableTimeOutTime: tableTimeout.valueAsNumber }) : tableTimeout.value = '0';" type="number" placeholder="Time in minutes" #tableTimeout/>
    </ion-item>
    <ion-item>
      <ion-label>Allow to add multiple discounts to a bill</ion-label>
      <ion-toggle [(ngModel)]="settings.multipleDiscount" #multipleDiscount (ngModelChange)="updateSettings({ multipleDiscount: multipleDiscount.checked })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label><h1>Print Settings</h1></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Show Time On Bill</ion-label>
      <ion-toggle [(ngModel)]="settings.printSettings.showBillTime" #multipleDiscount (ngModelChange)="updateSettings({ printSettings: settings.printSettings })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Show Date On Bill</ion-label>
      <ion-toggle [(ngModel)]="settings.printSettings.showBillDate" #multipleDiscount (ngModelChange)="updateSettings({ printSettings: settings.printSettings })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Show Bill no On Bill</ion-label>
      <ion-toggle [(ngModel)]="settings.printSettings.showBillNo" #multipleDiscount (ngModelChange)="updateSettings({ printSettings: settings.printSettings })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Show Cashier Name On Bill</ion-label>
      <ion-toggle [(ngModel)]="settings.printSettings.showCashier" #multipleDiscount (ngModelChange)="updateSettings({ printSettings: settings.printSettings })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Show Order Id On Bill</ion-label>
      <ion-toggle [(ngModel)]="settings.printSettings.showOrderId" #multipleDiscount (ngModelChange)="updateSettings({ printSettings: settings.printSettings })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Show Mode On Bill</ion-label>
      <ion-toggle [(ngModel)]="settings.printSettings.showMode" #multipleDiscount (ngModelChange)="updateSettings({ printSettings: settings.printSettings })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label><h1>Token Settings</h1></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Reset Bill No Every Day</ion-label>
      <ion-toggle [(ngModel)]="settings.tokensResetSetting.billNo" #multipleDiscount (ngModelChange)="updateSettings({ tokensResetSetting: settings.tokensResetSetting })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Reset Takeaway Token No Every Day</ion-label>
      <ion-toggle [(ngModel)]="settings.tokensResetSetting.takeawayTokenNo" #multipleDiscount (ngModelChange)="updateSettings({ tokensResetSetting: settings.tokensResetSetting })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Reset Online Token No Every Day</ion-label>
      <ion-toggle [(ngModel)]="settings.tokensResetSetting.onlineTokenNo" #multipleDiscount (ngModelChange)="updateSettings({ tokensResetSetting: settings.tokensResetSetting })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Reset Order No Every Day</ion-label>
      <ion-toggle [(ngModel)]="settings.tokensResetSetting.orderNo" #multipleDiscount (ngModelChange)="updateSettings({ tokensResetSetting: settings.tokensResetSetting })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Reset NC Bill No Every Day</ion-label>
      <ion-toggle [(ngModel)]="settings.tokensResetSetting.ncBillNo" #multipleDiscount (ngModelChange)="updateSettings({ tokensResetSetting: settings.tokensResetSetting })"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Reset Kot No Every Day</ion-label>
      <ion-toggle [(ngModel)]="settings.tokensResetSetting.kotNo" #multipleDiscount (ngModelChange)="updateSettings({ tokensResetSetting: settings.tokensResetSetting })"></ion-toggle>
    </ion-item>
    <div class="spacer"></div>
  </ion-list>
  <ion-spinner name="crescent" *ngIf="!settings"></ion-spinner>
</ion-content>
