:host{
	background: transparent;
	z-index: 9999;
}
div.header{
	border-bottom: 3px solid #FF5E35;
	background: #FFF;
	box-shadow: 0px 4px 16px 0px rgba(255, 94, 53, 0.15);
	width: 100vw;
	display: flex;
	align-items: center;
	gap:10px;
	padding: 5px 10px;
	justify-content: space-between;
	button.back{
		border: none;
		background: transparent;
		width: 30px;
		height: 30px;
		i{
			font-size: 30px;
			color: var(--Vrajera-primary);
		}
	}
	img{
		width:60px;
	}
	p{
		font-size: 30px;
		margin: 0px;
	}
	.outlet{
		border-radius: 8px;
		border: 2px solid #FF5E35;
		background: #FFF;
		padding: 4px 8px;
		padding-right: 15px;
		color: #FF5E35;
		width: 110px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 14px;
		display: flex;
		align-items: center;
		gap:5px;
		height: 40px;
		p{
			margin:0px;
			width: 70px;
			height: 33px;
			word-wrap: initial;
			font-size: var(--Vrajera-font-medium);
		}
		i{
			font-size: 25px;
		}
	}
	button.profile{
		width: 40px;
		height: 40px;
		border-radius: 20px;
		padding: 5px;
		font-size: 25px;
		border: 2px solid var(--Vrajera-primary);
		background: white;
		i{
			color:var(--Vrajera-primary);
		}
	}
	span{
		display: flex;
		align-items: center;
		gap:20px;
	}
}
.search{
	display: flex;
	padding: 0px;
	padding-right: 10px;
	align-items: center;
	background: white;
	box-shadow: 2px 4px 20px rgba(0,0,0,0.2);
	border-radius: 10px;
	color: #FF5E35;
	input{
		background: transparent;
		border: none;
		width: 100%;
		padding: 10px 0px 10px 20px;
		&:focus{
			outline: none;
		  }
	}
	i{
		color:#aaa;
		font-size: 25px;
	}
}